<%= render 'shared/navbar' %>

<div class="w-100 position-relative h-100vh background-home row d-flex mx-0 justify-content-center align-items-center">
  <%= render 'graffiti_carousel', paintings: @paintings %>
</div>
