<%= render 'shared/navbar' %>
<div class="w-100vw h-100vh bg-dark-secondary d-flex flex-column justify-content-center align-items-center">
  <div class="col-10">
    <%= image_tag 'background/home', class: 'of-cover w-100' %>
  </div>
  <div class="col-10 mt-4 mb-5">
    <h1 class="text-light">Lorem ipsum</h1>
    <p class="text-light mb-5">Lorem ipsumLorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum Lorem ipsum</p>
  </div>
</div>
